@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Space+Grotesk&display=swap');
body{
    font-family: 'League Spartan', sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.corpo-calculadora{
    width: 620px;
    height: auto;

}
/*   Container de cima    */
.container-numeros-tema{
text-align: right;
height: 20px;
}
.numeros-tema{
    font-weight: bold;
    margin: 0 10px 0 0;
    line-height: 22px;
}
.container-alto{
    display: flex;
    justify-content: space-between;
}

.container-alto h1{
    text-align: left;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
}
.container-alto p{
    position: relative;
    top:10px;
    left: 32%;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.container-clique{

display: inline-block;
width: 70px;
height: 25px;
vertical-align: -5%;
border-radius: 12.5px;
}
.clique{
    border: 0;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 4px 1px;
    border-radius: 8px;  
}
.clique:first-child{
    margin-left: 5px;
}
.clique:hover{
    cursor: pointer;
}
/* Container Central */
.container-medio{
    padding: 40px 0;
    margin: 30px 0;
    border-radius: 12px;
}
.numeros-exibidos{
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
    min-height: 60px;
}
/* Container Baixo */
.container-baixo{
    text-align: center;
    border-radius: 12px;
}
.botoes-menores button{
    border: none;
    padding: 10px 0;
    width: 18%;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 2% 0 2%;
    border-radius: 12px;
    transition: 0.2s;
}
.botoes-maiores button{
    border: none;
    padding: 10px 0;
    width: 41%;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 2% 0 2%;
    border-radius: 12px;
    transition: 0.2s;
}
.botoes-maiores{
    padding-bottom: 30px;
}
.botoes-menores button:nth-child(4), .botoes-maiores button:first-child{
    font-size: 30px;
    padding: 18px 0 15px 0;
}
.botoes-maiores button:hover, .botoes-menores button:hover {
    cursor: pointer;
}

