@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Space+Grotesk&display=swap');
body{
    font-family: 'League Spartan', sans-serif;
}
main{
    padding: 119.5px 0;
    background-color: #3B4664;
    width: 100%;
}
.corpo-calculadora{
    width: 660px;
    height: 700px;
    background-color: red;
    margin: auto;
}
.container-numeros-tema{
background-color: blue;
text-align: right;
height: 20px;
}
.numeros-tema{
    color: white;
    font-weight: bold;
    margin: 0 10px 0 0;
    line-height: 22px;
}
.container-alto{
 background-color: blueviolet;
}
.container-alto h1{
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;

}
.container-alto p{
    margin: 0 10px 0 486px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
   
}
.container-clique{
display: inline-block;
width: 70px;
height: 25px;
background-color:#252D45 ;
vertical-align: -5%;
border-radius: 12.5px;


}
.clique{
    border: 0;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 4px 1px;
    background-color: #252D45;
    border-radius: 8px;  
}
.clique:first-child{
    margin-left: 5px;
}
.clique:hover{
    cursor: pointer;
}
.temaum{
    background-color: #D43D31;
}