@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Space+Grotesk&display=swap');
body{
    font-family: 'League Spartan', sans-serif;
}
main{
    padding: 75.5px 0;
    background-color: #3B4664;
    width: 100%;
}
.corpo-calculadora{
    width: 620px;
    height: auto;
    margin: auto;
}
/*   Container de cima    */
.container-numeros-tema{
text-align: right;
height: 20px;
}
.numeros-tema{
    color: white;
    font-weight: bold;
    margin: 0 10px 0 0;
    line-height: 22px;
}
.container-alto h1{
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
}
.container-alto p{
    margin: 0 10px 0 446px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
}
.container-clique{
display: inline-block;
width: 70px;
height: 25px;
background-color:#252D45 ;
vertical-align: -5%;
border-radius: 12.5px;
}
.clique{
    border: 0;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 4px 1px;
    background-color: #252D45;
    border-radius: 8px;  
}
.clique:first-child{
    margin-left: 5px;
}
.clique:hover{
    cursor: pointer;
}
.temaum{
    background-color: #D43D31;
}
/* Container Central */
.container-medio{
    background-color: #181F32;
    padding: 40px 0;
    margin: 30px 0;
    border-radius: 12px;
}
.numeros-exibidos{
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
}
/* Container Baixo */
.container-baixo{
    background-color: #252D44;
    text-align: center;
    border-radius: 12px;
}
.botoes-menores button{
    background-color: #EAE3DB;
    color: #444C5E ;
    border: none;
    padding: 10px 0;
    width: 18%;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 15px 0 15px;
    border-radius: 12px;
    border-bottom: 5px solid #B3A296;
}
.botoes-maiores button{
    background-color: #EAE3DB;
    color: #444C5E ;
    border: none;
    padding: 10px 0;
    width: 41%;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 15px 0 15px;
    border-radius: 12px;
    border-bottom: 5px solid #B3A296;
}
.botoes-maiores{
    padding-bottom: 30px;
}
.botoes-menores button:nth-child(4), .botoes-maiores button:first-child{
    background-color: #647299;
    color: #F8FFFF ;
    border-color: #424E74 ;
    font-size: 30px;
    padding: 18px 0 15px 0;
}
.botoes-maiores button:last-child{
    background-color: #D13F30;
    color: #F8FFFF ;
    border-color: #972416 ;
}
.botoes-maiores button:active, .botoes-menores button:active {
    background-color: #B3A296 ;
}
.botoes-menores button:nth-child(4):active, .botoes-maiores button:first-child:active{
  background-color: #424E74 ;
}
.botoes-maiores button:last-child:active{
    background-color: #972416  ;
}
.botoes-maiores button:hover, .botoes-menores button:hover {
    cursor: pointer;
}

